:root {
  /* Primary theme color */
  --bs-primary: rgb(201, 202, 201);
  --bs-primary-rgb: 201, 202, 201;

  /* Secondary theme color */
  --bs-secondary: rgb(175, 76, 15);
  --bs-secondary-rgb: 175, 76, 15;
}
